[user]
	name = Devkumar Banerjee
	email = 45304559+aptitudepi@users.noreply.github.com
	signingkey = DFC72721BE0BDDE2
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
	credentialStore = cache
[alias]
	acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	gpgsign = true
